NODE_ENV=development
PORT=3000

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bercut
DB_USER=postgres
DB_PASSWORD=10v3Jesus1503

# JWT
JWT_SECRET=change_this_to_a_long_random_string_in_production
JWT_EXPIRY=8h

# Xendit
XENDIT_SECRET_KEY=xnd_development_...
XENDIT_WEBHOOK_TOKEN=your_webhook_verification_token
XENDIT_TERMINAL_BASE_URL=https://api.xendit.co

# Fonnte WhatsApp (Phase 2)
FONNTE_TOKEN=your_fonnte_token_here
